/* Estilo neutro por defecto para todos los botones */
QPushButton {
    background-color: #bddaff;
    color: #000000; /* Color de texto blanco */
    border: 1px solid #007bff; /* Borde con color azul */
    border-radius: 1.5px; /* Bordes redondeados */
    padding: 2px 6px; /* Espaciado interno */
    font-size: 14px; /* tamaño de la fuente*/
}

QPushButton:hover {
    background-color: #80bdff; /* Cambio de color de fondo al pasar el mouse */
    border: 1px solid #000000; /* Cambio de color de borde al pasar el mouse */
    color: #ffffff;
    font-size: 15px; /* tamaño de la fuente*/
}

QPushButton:active {
    animation: clickAnimation 0.3s ease;
}

/* Estilos para etiquetas */
QLabel {
    color: #ffffff;
    font-size: 16px;
}

/* Estilos para cuadros de texto */
QLineEdit {
    background-color: #f3fcf9; /* Color de fondo blanco */
    border: 2px solid #00ffdd; /* Borde con color azul */
    border-radius: 1.5px; /* Bordes redondeados */
    padding: 2px 6px; /* Espaciado interno */
    font-size: 13px; /* tamaño de la fuente*/
}

/* Estilos para la ventana principal */
QWidget#mainWidget {
    background-image: url("C:/ruta/completa/de/la/imagen/Notaria_img.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Para que la imagen se mantenga fija al hacer scroll */
    background-size: cover; /* Para cubrir todo el área del widget */
}

/* Clase para etiquetas */
.LabelUsuario {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
